body {
    background-color: #F3F2F2;
}

#ContainerDiv {
    width: 100%;
    margin: 0 auto;
}

#DetailDiv, #ButtonsDiv {
    float: left;
    height: 100%;
}

#DetailDiv {
    width: 75%;
    text-align: center;
    height: 90%;
}

#ButtonsDiv {
    width: 25%;
    text-align: center;
    height: 90%;
    border-right: 2px solid black;
}

#HeadingDiv {
    text-align: center;
    margin: 4%;
}

#PriceDiv, #LocationsDiv, #CommentElementsDiv {
    margin: 3%;
}

a {
    padding: 10px;
    cursor: pointer;
}

a:link {
    text-decoration: none;
    color: #686868;
}

a:visited {
    color: #ABABAB;
}

a:hover {
    color: #F97979;
}

#CommentInput {
    width: 20%;
}
#comments{
    text-align: left;
    padding: 10px;
}
